        
        <footer>
            <div class="footer-container">
                <section class="social">
                    <img
                    src="/images/guitar-pick.png"
                    alt="Nueva Era"
                    class="footer-logo"
                    />
                    <div class="social-logos">
                        <img
                        src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png"
                        alt="Instagram"
                        />
                        <img
                        src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
                        alt="Facebook"
                        />
                        <img
                        src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"
                        alt="Twitter"
                        />
                    </div>
                </section>
                <section class="footer-cont">
                    <div class="footer-cont-item">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Nosotros</a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="footer-cont-item">
                        <h3>Mi Cuenta</h3>
                        <ul>
                            <li><a href="">Mi Cuenta</a></li>
                            <li><a href="">Carrito</a></li>
                        </ul>
                    </div>
                    <div class="footer-cont-item">
                        <h3>Contacto</h3>
                        <ul>
                            <li>
                                <i class="fa-brands fa-whatsapp"></i
                                    ><span> (011)-15-4324-2342</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope"></i
                                    ><span> ventasweb@nuevaera.com.ar</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-clock"></i
                                    ><span
                                    > Lunes a Viernes de 10 a 14 y de 15 a 19 - Sábados de 10 a
                                    14</span
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="footer-cont-item">
                            <h3>Redes Sociales</h3>
                            <ul>
                                <li>
                                    <i class="fa-brands fa-square-facebook"></i><span> <a href="">Facebook</a></span>
                                </li>
                                <li>
                                    <i class="fa-brands fa-square-instagram"></i><span> <a href="">Instagram</a></span>
                                </li>
                                <li>
                                    <i class="fa-brands fa-square-twitter"></i><span
                                        > <a href="">Twitter</a>
                                        </span
                                        >
                                    </li>
                                </ul>
                            </div>
                </section>
                <section class="disclaimer">
                    <p>&copy; 2022</p>
                    <p>Desarrollado y administrado por dos randoms en DH</p>
                    <p>
                    Las fotos son a modo ilustrativo. La venta de cualquiera de los
                    productos publicados está sujeta a la verificación de stock. Los
                    precios online y los planes de financiación para los productos
                    presentados/publicados son válidos exclusivamente para la compra vía
                    internet en las páginas antes mencionadas.Las especificaciones
                    técnicas y descripciones están sujetas a cambios sin previo aviso.
                    </p>
                </section>
            </div>
        </footer>
    </body>
</html>