<%- include('./partials/head', {title})%> <%- include('./partials/header')%> <%-
include('./partials/nav')%>
<main class="container--fixed">
    <h2 class="not-found">La pagina que buscas no existe</h2>
</main>
<%- include('./partials/footer') %>
