<%- include('./partials/head', {title: "Nosotros"})%> <%-
include('./partials/header')%> <%- include('./partials/nav')%>
<main class="container--fixed">
    <h2 class="about">Los creadores</h2>
    <div class="intro-cards">
        <div class="intro-card">
            <div class="intro-card-img">
                <img src="/images/Fede.jpeg" alt="" />
            </div>
            <div class="intro-card-body">
                <h3>Federico Craviotto</h3>
                <h4>Fullstack Developer</h4>
                <p>
                    "Tengo 30 a침os, vivo en Buenos Aires, Argentina. Ejerzo como
                    abogado desde hace ya unos a침os, y ahora me dedico tiempo
                    completo a estudiar desarrollo web, con la intenci칩n de
                    trabajar como FullStack en un futuro."
                </p>
            </div>
        </div>
        <div class="intro-card">
            <div class="intro-card-img">
                <img src="/images/Leo.jpeg" alt="" />
            </div>
            <div class="intro-card-body">
                <h3>Leonardo Turzi</h3>
                <h4>Fullstack Developer</h4>
                <p>
                    "Tengo 30 a침os, vivo en Buenos Aires, Argentina. Soy
                    Ingeniero, siempre me gusto la idea de encontrar soluciones
                    que posibiliten la automatizacion de tareas, siempre
                    buscando la forma mas facil de lograr los mejores
                    resultados."
                </p>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer') %>
