<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Nueva Era</title>
	</head>
	<body>
		<header>
			<div class="header-cont">
				<i class="fa-solid fa-bars"></i>
				<div class="logo-cont">
					<img src="images/logo.png" alt="logo" class="logo" />
				</div>
				<div class="search">
					<i class="fa-solid fa-user"></i>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
				<div class="nav-search-bar">
					<input
						class="search-bar-input"
						type="text"
						placeholder="Guitarra, Bateria, etc"
					/>
					<button class="search-bar-button">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>
			<div class="nav-search-bar-mobile">
				<input
					class="search-bar-input"
					type="text"
					placeholder="Guitarra, Bateria, etc"
				/>
				<button class="search-bar-button">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</header>
		<nav>
			<ul class="nav-menu">
				<li><a href="">Mi Cuenta</a></li>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Productos</a>
				</li>
				<li>
					<a href="#">Ofertas</a>
				</li>
				<li>
					<a href="#">Nosotros</a>
				</li>
				<li>
					<a href="#">Contacto</a>
				</li>
			</ul>
		</nav>
			<!-- FEDE MODIFICAR DE ACA PARA ABAJO -->
			<!-- Borre el div que contenía el main, y la clase .container -->
			<main class="main-cart-page">
				<div class="cart">
					<h2 class="cart-envio__title">Opciones de Envío</h2>
					<article class="cart-card-envio">
						<div class="cart-card-envio__left-container">
							<p class="cart-card-envio__texto" style="font-size:18px;">Costo estimado de envío</p>
							<p class="cart-card-envio__texto">Destino A:_____</p>
						</div>
					</article>

					<article class="cart-card-envio">
						<div class="cart-card-envio__left-container">
							<p class="cart-card-envio__texto">Localidad</p>
							<select class="cart-card__localidad-select" name="localidad" id="">
								<option value="CABA">Ciudad Autónoma de Buenos Aires</option>
								<option value="PBA">Provincia de Buenos Aires</option>
								<option value="Cba">Córdoba</option>
								<option value="Corr">Corrientes</option>
								<option value="SE">Santiago del Estero</option>
								<option value="StaC">Santa Cruz</option>
								<option value="StaF">Santa Fe</option>
								<option value="Mi">Misiones</option>
								<option value="Sal">Salta</option>
								<option value="Fms">Formosa</option>
							</select>
							<p class="cart-card-envio__texto">Envío común</p>
							<p class="cart-card-envio__texto">Envío express</p>
						</div>
						<div class="cart-card-envio__right-container">
							<p class="cart-card-envio__texto cart-envio__codigo-postal">C.P.</p>
							<input class="cart-card__cp-input" type="text" name="codigo_postal" id="">
							<p class="cart-card-envio__texto">$1000</p>
							<p class="cart-card-envio__texto">$3000</p>
						</div>
					</article>
					
					<h2 class="cart-envio__title">Resumen de Compra</h2>
					<article class="cart-card-envio">	
						<div class="cart-card-envio__left-container">
							<p class="cart-card-envio__texto">Subtotal</p>
							<p class="cart-card-envio__texto">Envío Express</p>
							<p class="cart-card-envio__texto">IVA(21%)</p>
						</div>
						<div class="cart-card-envio__right-container">
							<p class="cart-card-envio__texto">$390.000</p>
							<p class="cart-card-envio__texto">$3000</p>
							<p class="cart-card-envio__texto">$81.900</p>
						</div>
					</article>

					<div class="cart-subtotal">
						<p class="card-subtotal__text">Subtotal</p>
						<p class="card-subtotal__price">$474.900</p>
					</div>
					
					<button class="btn-cart__continuar">Continuar</button>
				</div>
			</main>
			<!-- FEDE MODIFICAR DE ACA PARA ARRIBA -->
			<footer>
				<section class="social">
					<img
						src="./images/guitar-pick.png"
						alt="Nueva Era"
						class="footer-logo"
					/>
					<div class="social-logos">
						<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png"
							alt="Instagram"
						/>
						<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
							alt="Facebook"
						/>
						<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"
							alt="Twitter"
						/>
					</div>
				</section>
				<section class="footer-cont">
					<div class="footer-cont-item">
						<h3>Links</h3>
						<ul>
							<li><a href="">Home</a></li>
							<li><a href="">Nosotros</a></li>
							<li><a href="">Contacto</a></li>
						</ul>
					</div>
					<div class="footer-cont-item">
						<h3>Mi Cuenta</h3>
						<ul>
							<li><a href="">Mi Cuenta</a></li>
							<li><a href="">Carrito</a></li>
						</ul>
					</div>
					<div class="footer-cont-item">
						<h3>Contacto</h3>
						<ul>
							<li>
								<i class="fa-brands fa-whatsapp"></i
								><span>(011)-15-4324-2342</span>
							</li>
							<li>
								<i class="fa-solid fa-envelope"></i
								><span>ventasweb@nuevaera.com.ar</span>
							</li>
							<li>
								<i class="fa-solid fa-clock"></i
								><span
									>Lunes a Viernes de 10 a 14 y de 15 a 19 - Sábados de 10 a
									14</span
								>
							</li>
						</ul>
					</div>
				</section>
				<section class="disclaimer">
					<p>&copy; 2022</p>
					<p>Desarrollado y administrado por dos randoms en DH</p>
					<p>
						Las fotos son a modo ilustrativo. La venta de cualquiera de los
						productos publicados está sujeta a la verificación de stock. Los
						precios online y los planes de financiación para los productos
						presentados/publicados son válidos exclusivamente para la compra vía
						internet en las páginas antes mencionadas.Las especificaciones
						técnicas y descripciones están sujetas a cambios sin previo aviso.
					</p>
				</section>
			</footer>
		</div>
	</body>
</html>
