<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Nueva Era</title>
	</head>
	<body>
		<header>
			<div class="header-cont">
				<i class="fa-solid fa-bars"></i>
				<div class="logo-cont">
					<img src="images/logo.png" alt="logo" class="logo" />
				</div>
				<div class="search">
					<i class="fa-solid fa-user"></i>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
				<div class="nav-search-bar">
					<input
						class="search-bar-input"
						type="text"
						placeholder="Guitarra, Bateria, etc"
					/>
					<button class="search-bar-button">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>
			<div class="nav-search-bar-mobile">
				<input
					class="search-bar-input"
					type="text"
					placeholder="Guitarra, Bateria, etc"
				/>
				<button class="search-bar-button">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</header>
		<nav>
			<ul class="nav-menu">
				<li><a href="">Mi Cuenta</a></li>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Productos</a>
				</li>
				<li>
					<a href="#">Ofertas</a>
				</li>
				<li>
					<a href="#">Nosotros</a>
				</li>
				<li>
					<a href="#">Contacto</a>
				</li>
			</ul>
		</nav>
			<!-- FEDE MODIFICAR DE ACA PARA ABAJO -->
			<!-- Borre el div que contenía el main, y la clase .container -->
			<main>
				<div class="cart">
					<div class="cart__body">
						<h2 class="cart-title">Tu carrito</h2>
						<article class="cart-card">
							<div class="cart-card__img-container">
								<img src="../images/small-cart-guitar01.jpg" alt="">
							</div>
							<div class="cart-card__description">
								<div class="cart-card__upper-description">
									<p class="cart-card__product-name">Gibson 1958 Les Paul Standard LB Guitarra Eléctrica</p>
									<div>
										<p class="cart-card__product-color">Color : Negro</p> <a class="cart-card__color-modifier" href="">Modificar</a> <span class="cart-card__envio">Envío Gratis</span>
									</div>
								</div>
								<div class="cart-card__lower-description">
									<div class="cart-card__q-and-trash-container">
										<select class="cart-card__quantity" name="price" id="">
											<option value="1" selected>1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<i class="fa-solid fa-trash-can"></i>
									</div>
									<p class="cart-card__product-price">$130.000</p>
								</div>
							</div>
						</article>
						<article class="cart-card">
							<div class="cart-card__img-container">
								<img src="../images/small-cart-guitar01.jpg" alt="">
							</div>
							<div class="cart-card__description">
								<div class="cart-card__upper-description">
									<p class="cart-card__product-name">Gibson 1958 Les Paul Standard LB Guitarra Eléctrica</p>
									<div>
										<p class="cart-card__product-color">Color : Negro</p> <a class="cart-card__color-modifier" href="">Modificar</a> <span class="cart-card__envio">Envío Gratis</span>
									</div>
								</div>
								<div class="cart-card__lower-description">
									<div class="cart-card__q-and-trash-container">
										<select class="cart-card__quantity" name="price" id="">
											<option value="1" selected>1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<i class="fa-solid fa-trash-can"></i>
									</div>
									<p class="cart-card__product-price">$130.000</p>
								</div>
							</div>
						</article>
						<article class="cart-card">
							<div class="cart-card__img-container">
								<img src="../images/small-cart-guitar01.jpg" alt="">
							</div>
							<div class="cart-card__description">
								<div class="cart-card__upper-description">
									<p class="cart-card__product-name">Gibson 1958 Les Paul Standard LB Guitarra Eléctrica</p>
									<div>
										<p class="cart-card__product-color">Color : Negro</p> <a class="cart-card__color-modifier" href="">Modificar</a> <span class="cart-card__envio">Envío Gratis</span>
									</div>
								</div>
								<div class="cart-card__lower-description">
									<div class="cart-card__q-and-trash-container">
										<select class="cart-card__quantity" name="price" id="">
											<option value="1" selected>1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<i class="fa-solid fa-trash-can"></i>
									</div>
									<p class="cart-card__product-price">$130.000</p>
								</div>
							</div>
						</article>
						<div class="cart-subtotal">
							<p class="cart-subtotal__text">Subtotal</p>
							<p class="cart-subtotal__price">$390.000</p>
						</div>
					</div>
					<button class="btn btn-detalle">Seguir comprando</button>
					<br>
					<button class="btn btn-detalle">Continuar</button>
				</div>
			</main>
			<!-- FEDE MODIFICAR DE ACA PARA ARRIBA -->
			<footer>
				<div class="footer-container">
					<section class="social">
						<img
						src="./images/guitar-pick.png"
						alt="Nueva Era"
						class="footer-logo"
						/>
						<div class="social-logos">
							<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png"
							alt="Instagram"
							/>
							<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
							alt="Facebook"
							/>
							<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"
							alt="Twitter"
							/>
						</div>
					</section>
					<section class="footer-cont">
						<div class="footer-cont-item">
							<h3>Links</h3>
							<ul>
								<li><a href="">Home</a></li>
								<li><a href="">Nosotros</a></li>
								<li><a href="">Contacto</a></li>
							</ul>
						</div>
						<div class="footer-cont-item">
							<h3>Mi Cuenta</h3>
							<ul>
								<li><a href="">Mi Cuenta</a></li>
								<li><a href="">Carrito</a></li>
							</ul>
						</div>
						<div class="footer-cont-item">
							<h3>Contacto</h3>
							<ul>
								<li>
									<i class="fa-brands fa-whatsapp"></i
										><span> (011)-15-4324-2342</span>
								</li>
								<li>
									<i class="fa-solid fa-envelope"></i
										><span> ventasweb@nuevaera.com.ar</span>
								</li>
								<li>
									<i class="fa-solid fa-clock"></i
										><span
										> Lunes a Viernes de 10 a 14 y de 15 a 19 - Sábados de 10 a
										14</span
										>
									</li>
								</ul>
							</div>
							<div class="footer-cont-item">
								<h3>Redes Sociales</h3>
								<ul>
									<li>
										<i class="fa-brands fa-square-facebook"></i><span> <a href="">Facebook</a></span>
									</li>
									<li>
										<i class="fa-brands fa-square-instagram"></i><span> <a href="">Instagram</a></span>
									</li>
									<li>
										<i class="fa-brands fa-square-twitter"></i><span
											> <a href="">Twitter</a>
											</span
											>
										</li>
									</ul>
								</div>
					</section>
					<section class="disclaimer">
						<p>&copy; 2022</p>
						<p>Desarrollado y administrado por dos randoms en DH</p>
						<p>
						Las fotos son a modo ilustrativo. La venta de cualquiera de los
						productos publicados está sujeta a la verificación de stock. Los
						precios online y los planes de financiación para los productos
						presentados/publicados son válidos exclusivamente para la compra vía
						internet en las páginas antes mencionadas.Las especificaciones
						técnicas y descripciones están sujetas a cambios sin previo aviso.
						</p>
					</section>
				</div>
			</footer>
		</div>
	</body>
</html>
