<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css" />
		<title>Nueva Era</title>
	</head>
	<body>
		<header>
			<div class="header-cont">
				<i class="fa-solid fa-bars"></i>
				<div class="logo-cont">
					<img src="images/logo.png" alt="logo" class="logo" />
				</div>
				<div class="search">
					<i class="fa-solid fa-user"></i>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
				<div class="nav-search-bar">
					<input
						class="search-bar-input"
						type="text"
						placeholder="Guitarra, Bateria, etc"
					/>
					<button class="search-bar-button">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>
			<div class="nav-search-bar-mobile">
				<input
					class="search-bar-input"
					type="text"
					placeholder="Guitarra, Bateria, etc"
				/>
				<button class="search-bar-button">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</header>
		<nav>
			<ul class="nav-menu">
				<li><a href="#">Mi Cuenta</a></li>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Productos</a>
				</li>
				<li>
					<a href="#">Ofertas</a>
				</li>
				<li>
					<a href="#">Nosotros</a>
				</li>
				<li>
					<a href="#">Contacto</a>
				</li>
			</ul>
		</nav>
			<!-- FEDE MODIFICAR DE ACA PARA ABAJO -->
			<main>
				<section class="hero">
					<div class="hero-cont"><img src="https://rstatic.stores.musicarts.com/locations/3450_gonzales_la.jpg" alt="" />
						<div class="hero-titulo"><h1>Nueva Era</h1><h2>MUSIC STORE</h2></div>
						<div class="hero-filter"></div>
					</div>
				</section>
				<section class="categorias">
					<div class="categorias-text">
						<h3>Comprar por Instrumento</h3>
						<h4>ver todo</h4>
					</div>
					<ul class="categorias-cont">
						<li class="categorias-item">
							<img
								src="images/guitarras.png"
								alt="Guitarras"
								class="categorias-img"
							/>
							<h4>Guitarras</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/baterias.png"
								alt="Baterias"
								class="categorias-img"
							/>
							<h4>Baterias</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
					</ul>
				</section>
				<section class="interes">
					<div class="interes-text">
						<h3>Te puede interesar</h3>
						<h4>ver todo</h4>
					</div>
					<ul class="listado">
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
					</ul>
				</section>
				<!-- <section class="anuncios">
					<div class="anuncios-cont">
						<img src="/images/publicidad-2.png" alt="">
						<button class="btn">Ofertas</button>
					</div>
					<div class="anuncios-cont">
						<img src="/images/publicidad-1.png" alt="">
						<button class="btn">Clases de Musica</button>
					</div>
				</section> -->
				<section class="marcas">
					<h3>Encontra las mejores marcas!!!</h3>
					<div class="marcas-img">
						<img
							src="https://musicopolix.com/img/m/480-brands_default.jpg"
							alt="Gibson"
						/>
						<img
							src="https://musicopolix.com/img/m/262-brands_default.jpg"
							alt="Alhambra"
						/>
						<img
							src="https://musicopolix.com/img/m/136-brands_default.jpg"
							alt="Fender"
						/>
						<img
							src="https://musicopolix.com/img/m/125-brands_default.jpg"
							alt="Boss"
						/>
						<img
							src="https://musicopolix.com/img/m/124-brands_default.jpg"
							alt="Roland"
						/>
						<img
							src="https://musicopolix.com/img/m/57-brands_default.jpg    "
							alt="Yamaha"
						/>
					</div>
				</section>
			</main>
			<!-- FEDE MODIFICAR DE ACA PARA ARRIBA -->

			<footer>
				<div class="footer-container">
					<section class="social">
						<img
						src="./images/guitar-pick.png"
						alt="Nueva Era"
						class="footer-logo"
						/>
						<div class="social-logos">
							<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png"
							alt="Instagram"
							/>
							<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
							alt="Facebook"
							/>
							<img
							src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"
							alt="Twitter"
							/>
						</div>
					</section>
					<section class="footer-cont">
						<div class="footer-cont-item">
							<h3>Links</h3>
							<ul>
								<li><a href="">Home</a></li>
								<li><a href="">Nosotros</a></li>
								<li><a href="">Contacto</a></li>
							</ul>
						</div>
						<div class="footer-cont-item">
							<h3>Mi Cuenta</h3>
							<ul>
								<li><a href="">Mi Cuenta</a></li>
								<li><a href="">Carrito</a></li>
							</ul>
						</div>
						<div class="footer-cont-item">
							<h3>Contacto</h3>
							<ul>
								<li>
									<i class="fa-brands fa-whatsapp"></i
										><span> (011)-15-4324-2342</span>
								</li>
								<li>
									<i class="fa-solid fa-envelope"></i
										><span> ventasweb@nuevaera.com.ar</span>
								</li>
								<li>
									<i class="fa-solid fa-clock"></i
										><span
										> Lunes a Viernes de 10 a 14 y de 15 a 19 - Sábados de 10 a
										14</span
										>
									</li>
								</ul>
							</div>
							<div class="footer-cont-item">
								<h3>Redes Sociales</h3>
								<ul>
									<li>
										<i class="fa-brands fa-square-facebook"></i><span> <a href="">Facebook</a></span>
									</li>
									<li>
										<i class="fa-brands fa-square-instagram"></i><span> <a href="">Instagram</a></span>
									</li>
									<li>
										<i class="fa-brands fa-square-twitter"></i><span
											> <a href="">Twitter</a>
											</span
											>
										</li>
									</ul>
								</div>
					</section>
					<section class="disclaimer">
						<p>&copy; 2022</p>
						<p>Desarrollado y administrado por dos randoms en DH</p>
						<p>
						Las fotos son a modo ilustrativo. La venta de cualquiera de los
						productos publicados está sujeta a la verificación de stock. Los
						precios online y los planes de financiación para los productos
						presentados/publicados son válidos exclusivamente para la compra vía
						internet en las páginas antes mencionadas.Las especificaciones
						técnicas y descripciones están sujetas a cambios sin previo aviso.
						</p>
					</section>
				</div>
			</footer>
		</div>
	</body>
	</html>
	