<%- include('./partials/head')%>
<%- include('./partials/header')%>
<%- include('./partials/nav')%>
		<div class="container flex-wrapper">
			<main>
				<section class="hero">
					<div class="hero-cont"><img src="https://rstatic.stores.musicarts.com/locations/3450_gonzales_la.jpg" alt="" />
						<div class="hero-titulo"><h1>Nueva Era</h1><h2>MUSIC STORE</h2></div>
						<div class="hero-filter"></div>
					</div>
				</section>
				<section class="categorias">
					<div class="categorias-text">
						<h3>Comprar por Instrumento</h3>
						<h4>ver todo</h4>
					</div>
					<ul class="categorias-cont">
						<li class="categorias-item">
							<img
								src="images/guitarras.png"
								alt="Guitarras"
								class="categorias-img"
							/>
							<h4>Guitarras</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/baterias.png"
								alt="Baterias"
								class="categorias-img"
							/>
							<h4>Baterias</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
						<li class="categorias-item">
							<img
								src="images/teclados.png"
								alt="Teclados"
								class="categorias-img"
							/>
							<h4>Teclados</h4>
						</li>
					</ul>
				</section>
				
				<section class="interes">
					<div class="interes-text">
						<h3>Te puede interesar</h3>
						<h4>ver todo</h4>
					</div>
					<ul class="listado">
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto display-lg">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto display-lg">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto display-xl">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
						<li class="producto display-xxl">
							<img
								src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
								alt="Gibson Les Paul"
								class="producto-img"
							/>
							<p class="producto-precio">$ 150.000</p>
							<p class="producto-envio">Envio gratis</p>
							<p class="producto-nombre">
								Gibson 1958 Les Paul Standar LB Guitarra electrica
							</p>
							<button class="btn">Comprar</button>
						</li>
					</ul>
				</section>
				<!-- <section class="anuncios">
					<div class="anuncios-cont">
						<img src="/images/publicidad-2.png" alt="">
						<button class="btn">Ofertas</button>
					</div>
					<div class="anuncios-cont">
						<img src="/images/publicidad-1.png" alt="">
						<button class="btn">Clases de Musica</button>
					</div>
				</section> -->
				<section class="marcas">
					<h3>Encontra las mejores marcas!!!</h3>
					<div class="marcas-img">
						<img
							src="https://musicopolix.com/img/m/480-brands_default.jpg"
							alt="Gibson"
						/>
						<img
							src="https://musicopolix.com/img/m/262-brands_default.jpg"
							alt="Alhambra"
						/>
						<img
							src="https://musicopolix.com/img/m/136-brands_default.jpg"
							alt="Fender"
						/>
						<img
							src="https://musicopolix.com/img/m/125-brands_default.jpg"
							alt="Boss"
						/>
						<img
							src="https://musicopolix.com/img/m/124-brands_default.jpg"
							alt="Roland"
						/>
						<img
							src="https://musicopolix.com/img/m/57-brands_default.jpg    "
							alt="Yamaha"
						/>
					</div>
				</section>
			</main>
		
		<%- include('./partials/footer') %>