:root {
	--bg-header: #2f2f2f;
	--bg-primary: #f8f8f8;
	--text: #807c7c;
	--text-secondary: #fff;
	--btn-primary: #3483fa;
	--icon: #a6a6a6;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header {
	background-color: var(--bg-header);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 100%;
	padding: 0px 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header i {
	color: var(--icon);
	font-size: 24px;
}

nav {
	background-color: var(--bg-header);
	padding: 5px 0;
	border: 1px solid var(--icon);
	display: flex;
	flex-direction: column;
	position: relative;
	display: none;
}

.nav-search-bar {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 300px;
	height: 24px;
	margin: auto;
	padding: 0px 10px;
	border-radius: 25px;
	display: none;
}

.nav-search-bar input,
.nav-search-bar button {
	border: none;
	background-color: #fff;
}

.nav-search-bar input {
	flex-grow: 1;
	outline: none;
}

.nav-menu {
	background-color: var(--bg-header);
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
	height: 140px;
	position: absolute;
	z-index: 9999;
	top: 1px;
	margin-top: 1px;
	display: none;
}

.nav-menu li {
	padding: 5px 0px;
}

.nav-menu li a {
	text-decoration: none;
	color: #fff;
}

.container {
	overflow: hidden;
}

main {
	width: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero {
	width: 100vw;
}

.categorias,
.interes,
.anuncios,
.marcas {
	width: 90%;
	margin: auto;
}
.categorias-text {
	display: flex;
	justify-content: space-between;
}

.categorias-text h3,
.categorias-text h4 {
	display: inline;
	align-self: baseline;
}

.categorias-cont {
	display: flex;
	overflow: scroll;
}

.categorias-cont::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
