<%- include('../partials/head', {title})%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container--fixed">
	<!-- <img src="https://rstatic.stores.musicarts.com/locations/3450_gonzales_la.jpg" alt="" /> -->
	<main>
		<section class="hero">
			<img src="https://rstatic.stores.musicarts.com/locations/3450_gonzales_la.jpg" alt="" />
				<div class="hero__text">
					<h1 class="hero__title">Nueva Era</h1>
					<h2 class="hero__subtitle">MUSIC STORE</h2>
				</div>
				<div class="hero--filter"></div>
		</section>
		
		<section class="categories">
			<div class="categories__titles">
				<h3>Comprar por Instrumento</h3>
				<h4>ver todo</h4>
			</div>
			<ul class="categories__container">
				<li class="categories__item">
					<div class="categories__img-container">
						<img
							src="images/categories/cat-guitarras.jpg"
							alt="Guitarras"
							class="categories__img"
						/>
					</div>
					<h4>Guitarras</h4>
				</li>
				<li class="categories__item">
					<div class="categories__img-container">
						<img
							src="images/categories/cat-baterias.jpg"
							alt="Baterias"
							class="categories__img"
						/>
					</div>
					<h4>Baterias</h4>
				</li>
				<li class="categories__item">
					<div class="categories__img-container">
						<img
							src="images/categories/cat-teclados.jpg"
							alt="Teclados"
							class="categories__img"
						/>
					</div>
					<h4>Teclados</h4>
				</li>
				<li class="categories__item">
					<div class="categories__img-container">
						<img
							src="images/categories/cat-amplificadores.jpg"
							alt="Amplificadores"
							class="categories__img"
						/>
					</div>
					<h4>Amplificadores</h4>
				</li>
				<li class="categories__item">
					<div class="categories__img-container">
						<img
							src="images/categories/cat-armonicas.jpg"
							alt="Arm贸nicas"
							class="categories__img"
						/>
					</div>
					<h4>Arm贸nicas</h4>
				</li>
				<li class="categories__item">
					<div class="categories__img-container">
						<img
							src="images/categories/cat-microfonos.jpg"
							alt="Micr贸fonos"
							class="categories__img"
						/>
					</div>
					<h4>Micr贸fonos</h4>
				</li>
				<li class="categories__item">
					<div class="categories__img-container">
						<img
						src="images/categories/cat-saxofones.jpg"
						alt="Saxofones"
						class="categories__img"
						/>
					</div>
					<h4>Saxofones</h4>
				</li>
			</ul>
		</section>
		
		<section class="interest">
			<div class="interest__text">
				<h3>Te puede interesar</h3>
				<h4>ver todo</h4>
			</div>
			<ul class="products-list">
				<li class="card">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="card">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="card">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="card">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="card display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="card display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="card display-xl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="card display-xxl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="card__img"
					/>
					<p class="card__price">$ 150.000</p>
					<p class="card__dispatch">Envio gratis</p>
					<p class="card__name">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
			</ul>
		</section>
		<section class="brands">
			<h3 class="brands__title">Encontra las mejores marcas!!!</h3>
			<div class="brands__img-container">
				<img
					src="https://musicopolix.com/img/m/480-brands_default.jpg"
					alt="Gibson"
					class="brands__img"
				/>
				<img
					src="https://musicopolix.com/img/m/262-brands_default.jpg"
					alt="Alhambra"
					class="brands__img"
				/>
				<img
					src="https://musicopolix.com/img/m/136-brands_default.jpg"
					alt="Fender"
					class="brands__img"
				/>
				<img
					src="https://musicopolix.com/img/m/125-brands_default.jpg"
					alt="Boss"
					class="brands__img"
				/>
				<img
					src="https://musicopolix.com/img/m/124-brands_default.jpg"
					alt="Roland"
					class="brands__img"
				/>
				<img
					src="https://musicopolix.com/img/m/57-brands_default.jpg    "
					alt="Yamaha"
					class="brands__img"
				/>
			</div>
		</section>
	</main>
</div>
<%- include('../partials/footer') %>