<%- include('../partials/head', {title})%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container container-results--fixed">
	<main>
        <section class="interes">
			<div class="interes-text">
				<h3>Resultados: "Gibson 1958"</h3>
			</div>
            <ul class="listado">
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-xl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-xxl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
			</ul>
			<ul class="listado">
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-xl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-xxl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
			</ul>
		</section>
    </main>
</div>
<%- include('../partials/footer') %>