<%- include('../partials/head', {title})%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container--fixed">
	<main>
		<div class="cart">
			<h2 class="dispatch__title">Opciones de Envío</h2>
			<article class="dispatch">
				<div class="dispatch__left-container">
					<p class="dispatch__text">Costo estimado de envío</p>
					<p class="dispatch__text">Destino A:_____</p>
				</div>
			</article>

			<article class="dispatch">
				<div class="dispatch__left-container">
					<p class="dispatch__text">Localidad</p>
					<select class="dispatch__city" name="city" id="">
						<option value="CABA">Ciudad Autónoma de Buenos Aires</option>
						<option value="PBA">Provincia de Buenos Aires</option>
						<option value="Cba">Córdoba</option>
						<option value="Corr">Corrientes</option>
						<option value="SE">Santiago del Estero</option>
						<option value="StaC">Santa Cruz</option>
						<option value="StaF">Santa Fe</option>
						<option value="Mi">Misiones</option>
						<option value="Sal">Salta</option>
						<option value="Fms">Formosa</option>
					</select>
					<p class="dispatch__text">Envío común</p>
					<p class="dispatch__text">Envío express</p>
				</div>
				<div class="dispatch__right-container">
					<p class="dispatch__text dispatch__zip-code">C.P.</p>
					<input class="dispatch__cp-input" type="text" name="codigo_postal" id="">
					<p class="dispatch__text">$1000</p>
					<p class="dispatch__text">$3000</p>
				</div>
			</article>
			
			<h2 class="dispatch__title">Resumen de Compra</h2>
			<article class="dispatch">	
				<div class="dispatch__left-container">
					<p class="dispatch__text">Subtotal</p>
					<p class="dispatch__text">Envío Express</p>
					<p class="dispatch__text">IVA(21%)</p>
				</div>
				<div class="dispatch__right-container">
					<p class="dispatch__text">$390.000</p>
					<p class="dispatch__text">$3000</p>
					<p class="dispatch__text">$81.900</p>
				</div>
			</article>

			<div class="dispatch-subtotal">
				<p class="dispatch-subtotal__text">Subtotal</p>
				<p class="dispatch-subtotal__price">$474.900</p>
			</div>
			<a href="/cart" class="btn btn-product-edit btn-anchor">Volver</a>
			<br>
			<a href="/cart/payment" class="btn btn-product-edit btn-anchor">Continuar</a>
		</div>
	</main>
</div>
<%- include('../partials/footer') %>