<%- include('../partials/head', {title})%> <%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container--fixed">
  <main>
    <form action="/" class="cart">
      <div class="cart__body">
        <h2 class="cart__title">Tu carrito</h2>
        <!-- IF Storage is not empty -- renderCart()  -->
      </div>
      <div class="cart-subtotal">
        <p class="cart-subtotal__text">Total</p>
        <p class="cart-subtotal__total-amount"></p>
      </div>

      <article class="checkout-form">
		<div class="--two-columns">
			<div class="--width50">
				<div class="input-container">
					<label for="localidad">Localidad</label>
					<input type="text" id="localidad"/>
				</div>
				<div class="input-container">
					<label for="calle">Calle</label>
					<input type="text" id="calle"/>
				</div>
			</div>
			<div class="--width50">
				<div class="input-container">
					<label for="paymentMethod">Método de pago</label>
					<select id="paymentMethod">
					  <option value=""></option>
					  <option value="Tarjeta de Credito">Crédito</option>
					  <option value="Tarjeta de Debito">Débito</option>
					  <option value="Efectivo">Efectivo</option>
					  <option value="Criptomonedas">Cripto</option>
					</select>
				  </div>
				<div class="input-container">
					<label for="phone">Teléfono de contacto</label>
					<input type="text" id="phone"/>
				</div>
			</div>
		</div>

        <div>
          <a href="/products" class="btn btn-product-edit btn-anchor"
            >Seguir comprado</a
          >
          <br />
          <button type="submit" class="btn btn-product-edit">Finalizar compra</button>
        </div>
      </article>

      <!-- IF storage is empty -->

      <!-- renderEmptyCart() > Empty Cart -->
    </form>
  </main>
</div>
<%- include('../partials/footer', {cartScript}) %>
