<%- include('../partials/head', {title: 'Cart Orders'})%> <%-
include('../partials/header')%> <%- include('../partials/nav')%>
<div class="container--fixed">
    <main>
        <div class="cart-orders">
            <table class="cart-orders__table">
                <tbody class="cart-orders__tbody">
                    <tr class="cart-orders__row">
                        <th>Status</th>
                        <th>Date</th>
                        <th>Shipping Address</th>
                        <th>Payment Method</th>
                        <th>Total</th>
                        <th>Details</th>
                    </tr>
                </tbody>
                <!-- IF orders, render tableRow(s)-->
            </table>
                <!--ELSE  empty order table-->
                <a class="btn btn-back" href="/users/profile">Volver</a>
        </div>
    </main>
</div>
<%- include('../partials/footer') %>
