<%- include('../partials/head', {title})%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container container-register--fixed">
	<main>
		<form action="" class="login-container">
			<h3>Register</h3>
			<div class="input-container">
				<label for="username">Nombre</label>
				<input
					type="text"
					id="nombre"
					name="nombre"
					placeholder="Usuario"
				/>
			</div>
			<div class="input-container">
				<label for="username">Apellido</label>
				<input
					type="text"
					id="apellido"
					name="apellido"
					placeholder="Usuario"
				/>
			</div>
			<div class="input-container">
				<label for="username">Email</label>
				<input type="email" id="email" name="email" placeholder="Usuario" />
			</div>
			<div class="input-container">
				<label for="username">Password</label>
				<input
					type="password"
					id="password"
					name="password"
					placeholder="Contraseña"
				/>
			</div>
			<div class="input-tyc">
				<label for="tyc">Acepto Terminos y Condiciones</label>
				<input
					type="checkbox"
					id="tyc"
					name="tyc"
					placeholder="Contraseña"
				/>
			</div>
			<button type="submit" class="btn">Registrarme</button>
			<p class="registro">Ya tenés cuenta? <a href="#" class="forgot-password">Iniciá Sesión</a></p>
		</form>
	</main>
</div>
<%- include('../partials/footer') %>