<%- include('../partials/head', {title})%> <%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container container-register--fixed">
	<main>
		<form
			action="/users/register"
			method="POST"
			class="login-container"
			enctype="multipart/form-data"
		>
			<h3>Register</h3>
			<div class="input-container">
				<label for="nombre">Nombre</label>
				<input
					type="text"
					id="nombre"
					name="nombre"
					placeholder="Usuario"
					enctype="multipart/form-data"
				/>
			</div>
			<div class="input-container">
				<label for="apellido">Apellido</label>
				<input
					type="text"
					id="apellido"
					name="apellido"
					placeholder="Usuario"
				/>
			</div>
			<div class="input-container">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" placeholder="Usuario" />
			</div>
			<div class="input-container">
				<label for="password">Password</label>
				<input
					type="password"
					id="password"
					name="password"
					placeholder="Contraseña"
				/>
			</div>
			<div class="input-container">
				<label for="avatar">Avatar</label>
				<input type="file" id="avatar" name="avatar" />
			</div>
			<div class="input-tyc">
				<label for="tyc">Acepto Terminos y Condiciones</label>
				<input type="checkbox" id="tyc" name="tyc" placeholder="Contraseña" />
			</div>
			<button type="submit" class="btn">Registrarme</button>
			<p class="registro">
				Ya tenés cuenta?
				<a href="/users/login/" class="forgot-password">Iniciá Sesión</a>
			</p>
		</form>
	</main>
</div>
<%- include('../partials/footer') %>
