<%- include('../partials/head')%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>

			<main>
				<div class="cart">
					<h2 class="cart-envio__title">Opciones de Envío</h2>
					<article class="cart-card-envio">
						<div class="cart-card-envio__left-container">
							<p class="cart-card-envio__texto">Costo estimado de envío</p>
							<p class="cart-card-envio__texto">Destino A:_____</p>
						</div>
					</article>

					<article class="cart-card-envio">
						<div class="cart-card-envio__left-container">
							<p class="cart-card-envio__texto">Localidad</p>
							<select class="cart-card__localidad-select" name="localidad" id="">
								<option value="CABA">Ciudad Autónoma de Buenos Aires</option>
								<option value="PBA">Provincia de Buenos Aires</option>
								<option value="Cba">Córdoba</option>
								<option value="Corr">Corrientes</option>
								<option value="SE">Santiago del Estero</option>
								<option value="StaC">Santa Cruz</option>
								<option value="StaF">Santa Fe</option>
								<option value="Mi">Misiones</option>
								<option value="Sal">Salta</option>
								<option value="Fms">Formosa</option>
							</select>
							<p class="cart-card-envio__texto">Envío común</p>
							<p class="cart-card-envio__texto">Envío express</p>
						</div>
						<div class="cart-card-envio__right-container">
							<p class="cart-card-envio__texto cart-envio__codigo-postal">C.P.</p>
							<input class="cart-card__cp-input" type="text" name="codigo_postal" id="">
							<p class="cart-card-envio__texto">$1000</p>
							<p class="cart-card-envio__texto">$3000</p>
						</div>
					</article>
					
					<h2 class="cart-envio__title">Resumen de Compra</h2>
					<article class="cart-card-envio">	
						<div class="cart-card-envio__left-container">
							<p class="cart-card-envio__texto">Subtotal</p>
							<p class="cart-card-envio__texto">Envío Express</p>
							<p class="cart-card-envio__texto">IVA(21%)</p>
						</div>
						<div class="cart-card-envio__right-container">
							<p class="cart-card-envio__texto">$390.000</p>
							<p class="cart-card-envio__texto">$3000</p>
							<p class="cart-card-envio__texto">$81.900</p>
						</div>
					</article>

					<div class="envio-subtotal">
						<p class="envio-subtotal__text">Subtotal</p>
						<p class="envio-subtotal__price">$474.900</p>
					</div>
					
					<button class="btn btn-detalle">Continuar</button>
				</div>
			</main>
			<%- include('../partials/footer') %>