<%- include('../partials/head')%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
		<div class="container">
			<main>
				<div class="cart">
					<div class="cart__body">
						<h2 class="cart-title">Tu carrito</h2>
						<article class="cart-card">
							<div class="cart-card__img-container">
								<img src="../images/small-cart-guitar01.jpg" alt="">
							</div>
							<div class="cart-card__description">
								<div class="cart-card__upper-description">
									<p class="cart-card__product-name">Gibson 1958 Les Paul Standard LB Guitarra Eléctrica</p>
									<div>
										<p class="cart-card__product-color">Color : Negro</p> <a class="cart-card__color-modifier" href="">Modificar</a> <span class="cart-card__envio">Envío Gratis</span>
									</div>
								</div>
								<div class="cart-card__lower-description">
									<div class="cart-card__q-and-trash-container">
										<select class="cart-card__quantity" name="price" id="">
											<option value="1" selected>1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<i class="fa-solid fa-trash-can"></i>
									</div>
									<p class="cart-card__product-price">$130.000</p>
								</div>
							</div>
						</article>
						<article class="cart-card">
							<div class="cart-card__img-container">
								<img src="../images/small-cart-guitar01.jpg" alt="">
							</div>
							<div class="cart-card__description">
								<div class="cart-card__upper-description">
									<p class="cart-card__product-name">Gibson 1958 Les Paul Standard LB Guitarra Eléctrica</p>
									<div>
										<p class="cart-card__product-color">Color : Negro</p> <a class="cart-card__color-modifier" href="">Modificar</a> <span class="cart-card__envio">Envío Gratis</span>
									</div>
								</div>
								<div class="cart-card__lower-description">
									<div class="cart-card__q-and-trash-container">
										<select class="cart-card__quantity" name="price" id="">
											<option value="1" selected>1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<i class="fa-solid fa-trash-can"></i>
									</div>
									<p class="cart-card__product-price">$130.000</p>
								</div>
							</div>
						</article>
						<article class="cart-card">
							<div class="cart-card__img-container">
								<img src="../images/small-cart-guitar01.jpg" alt="">
							</div>
							<div class="cart-card__description">
								<div class="cart-card__upper-description">
									<p class="cart-card__product-name">Gibson 1958 Les Paul Standard LB Guitarra Eléctrica</p>
									<div>
										<p class="cart-card__product-color">Color : Negro</p> <a class="cart-card__color-modifier" href="">Modificar</a> <span class="cart-card__envio">Envío Gratis</span>
									</div>
								</div>
								<div class="cart-card__lower-description">
									<div class="cart-card__q-and-trash-container">
										<select class="cart-card__quantity" name="price" id="">
											<option value="1" selected>1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<i class="fa-solid fa-trash-can"></i>
									</div>
									<p class="cart-card__product-price">$130.000</p>
								</div>
							</div>
						</article>
						<div class="cart-subtotal">
							<p class="cart-subtotal__text">Subtotal</p>
							<p class="cart-subtotal__price">$390.000</p>
						</div>
					</div>
					<button class="btn btn-detalle">Seguir comprando</button>
					<br>
					<button class="btn btn-detalle">Continuar</button>
				</div>
			</main>
		</div>
		<footer class="">
			<%- include('../partials/footer') %>
