<%- include('../partials/head', {title})%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container container-product-detail--fixed">
	<main>
		<section class="producto-detalle">
			<div class="producto-detalle-card">
				<img
					src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
					alt="Gibson Les Paul"
				/>
				<div class="producto-detalle-card-info">
					<h3 class="producto-detalle-card-info_nombre">
						Gibson 1958 Les Paul Standard LB Guitarra Eléctrica
					</h3>
					<p class="producto-detalle-card-info_desc">
						Semi Hueca c/Corte Mics Humb c/FUNDA BLK
					</p>
					<div class="producto-detalle-card-info_precio">
						<p>$130.000</p>
					</div>

					<button class="btn btn-detalle">Comprar</button>
					<div class="producto-detalle-metodos-pago">
						<h3>Metodos de pago</h3>
						<img src="/images/metodos-de-pago2.png" alt="" />
					</div>
					<div class="producto-detalle-descripcion">
						<h3>Descripcion</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Beatae architecto amet dolorem facilis nostrum reprehenderit
							ratione. Repellat, modi iste. Architecto, repellat corporis?
							Perferendis dolor, exercitationem quae nisi numquam nesciunt
							vel?
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="interes">
			<div class="interes-text">
				<h3>Te puede interesar</h3>
				<h4>ver todo</h4>
			</div>
			<ul class="listado">
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-lg">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-xl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
				<li class="producto display-xxl">
					<img
						src="https://musicopolix.com/173830-home_default/lpr58volbnh1.jpg"
						alt="Gibson Les Paul"
						class="producto-img"
					/>
					<p class="producto-precio">$ 150.000</p>
					<p class="producto-envio">Envio gratis</p>
					<p class="producto-nombre">
						Gibson 1958 Les Paul Standar LB Guitarra electrica
					</p>
					<button class="btn">Comprar</button>
				</li>
			</ul>
		</section>
		<section class="marcas">
			<h3>Encontra las mejores marcas!!!</h3>
			<div class="marcas-img">
				<img
					src="https://musicopolix.com/img/m/480-brands_default.jpg"
					alt="Gibson"
				/>
				<img
					src="https://musicopolix.com/img/m/262-brands_default.jpg"
					alt="Alhambra"
				/>
				<img
					src="https://musicopolix.com/img/m/136-brands_default.jpg"
					alt="Fender"
				/>
				<img
					src="https://musicopolix.com/img/m/125-brands_default.jpg"
					alt="Boss"
				/>
				<img
					src="https://musicopolix.com/img/m/124-brands_default.jpg"
					alt="Roland"
				/>
				<img
					src="https://musicopolix.com/img/m/57-brands_default.jpg    "
					alt="Yamaha"
				/>
			</div>
		</section>
	</main>
</div>
<%- include('../partials/footer') %>
